Importación de Librerias

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from time import time
from IPython.display import display

Consumimos los datos generados desde R Studio

In [2]:
Data = pd.read_csv("Data_Limpia.csv")
Data

,Unnamed: 0,A,B,C,D,E,F,G,H,I,...,P,Q,R,S,Monto,Fraude,J_AR,J_BR,J_MX,J_Otros
0,1,0,10,50257,0,0,0.000,0.0,0,0,...,5,0.0,0.0,7.25,37.51,1,0,0,0,1
1,2,0,10,29014,0,0,0.000,0.0,0,0,...,3,0.0,0.0,11.66,8.18,1,0,0,0,1
2,3,0,7,92,0,1,0.000,0.0,0,1,...,2,0.0,0.0,86.97,13.96,1,0,0,0,1
3,4,9,16,50269,0,0,0.000,0.0,0,0,...,5,0.0,0.0,2.51,93.67,1,0,0,0,1
4,5,0,8,8180,0,0,0.000,0.0,0,0,...,1,0.0,0.0,25.96,135.40,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16875,16876,0,3,63302,0,1,0.500,0.0,0,0,...,1,0.0,0.0,85.73,132.17,1,0,1,0,0
16876,16877,0,12,825,0,0,0.000,0.0,0,0,...,5,0.0,0.0,12.50,26.34,1,0,1,0,0
16877,16878,1,3,81067,0,0,0.000,0.0,0,0,...,1,0.0,0.0,24.16,195.63,1,0,1,0,0
16878,16879,0,9,398372,0,0,0.000,0.0,0,0,...,1,0.0,0.0,29.00,36.97,1,0,1,0,0
16879,16880,0,12,15128,0,3,0.004,0.0,0,0,...,1,0.0,0.0,87.08,21.58,1,0,1,0,0

Eliminamos Los indices que heredamos del R studio

In [3]:
Data = Data.drop(['Unnamed: 0'], axis=1)
Data

,A,B,C,D,E,F,G,H,I,L,...,P,Q,R,S,Monto,Fraude,J_AR,J_BR,J_MX,J_Otros
0,0,10,50257,0,0,0.000,0.0,0,0,0,...,5,0.0,0.0,7.25,37.51,1,0,0,0,1
1,0,10,29014,0,0,0.000,0.0,0,0,0,...,3,0.0,0.0,11.66,8.18,1,0,0,0,1
2,0,7,92,0,1,0.000,0.0,0,1,0,...,2,0.0,0.0,86.97,13.96,1,0,0,0,1
3,9,16,50269,0,0,0.000,0.0,0,0,0,...,5,0.0,0.0,2.51,93.67,1,0,0,0,1
4,0,8,8180,0,0,0.000,0.0,0,0,0,...,1,0.0,0.0,25.96,135.40,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16875,0,3,63302,0,1,0.500,0.0,0,0,1,...,1,0.0,0.0,85.73,132.17,1,0,1,0,0
16876,0,12,825,0,0,0.000,0.0,0,0,1,...,5,0.0,0.0,12.50,26.34,1,0,1,0,0
16877,1,3,81067,0,0,0.000,0.0,0,0,0,...,1,0.0,0.0,24.16,195.63,1,0,1,0,0
16878,0,9,398372,0,0,0.000,0.0,0,0,0,...,1,0.0,0.0,29.00,36.97,1,0,1,0,0
16879,0,12,15128,0,3,0.004,0.0,0,0,0,...,1,0.0,0.0,87.08,21.58,1,0,1,0,0

Partición del Data Frame en función de nuestras variables explicativas y variable objetivo

In [4]:
y = Data.Fraude
x = Data.drop(['Fraude'], axis=1)

Previo al entrenamiento hice un escalamiento de las variables para buscar su normalización. Para ello utilicé la función  [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html)

In [5]:
scaler = MinMaxScaler()
# Para el uso de esta función es necesario hacer la conversion al tipo Array 
Data_Normalizada_array = scaler.fit_transform(x) 
columnas = list(Data.columns)
columnas.remove('Fraude')
Data_Normalizada_x = pd.DataFrame(Data_Normalizada_array,
    columns=columnas)
# Una muestra de los datos normalizados
display(Data_Normalizada_x.head(n = 5))

,A,B,C,D,E,F,G,H,I,L,...,O,P,Q,R,S,Monto,J_AR,J_BR,J_MX,J_Otros
0,0.0,0.523810,0.081411,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.100,0.0,0.0,0.081707,0.002988,0.0,0.0,0.0,1.0
1,0.0,0.523810,0.047000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.050,0.0,0.0,0.125384,0.000648,0.0,0.0,0.0,1.0
2,0.0,0.380952,0.000149,0.0,0.022222,0.0,0.0,0.0,0.041667,0.0,...,0.0,0.025,0.0,0.0,0.871249,0.001109,0.0,0.0,0.0,1.0
3,0.3,0.809524,0.081430,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.100,0.0,0.0,0.034763,0.007467,0.0,0.0,0.0,1.0
4,0.0,0.428571,0.013251,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000,0.0,0.0,0.267010,0.010795,0.0,0.0,0.0,1.0

Para el entrenamiento hago uso de la función  [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) siguiendo el estandar 80/20

In [6]:
from sklearn.model_selection import train_test_split

# Defino las particiones para la data de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(Data_Normalizada_x, y, test_size = 0.2, random_state = 0)
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 13504 samples.
Testing set has 3376 samples.

In [8]:
from sklearn.metrics import accuracy_score, fbeta_score
def train_predict(learner, sample_size, X_train, y_train, X_test, y_test):
   '''
   inputs:
      - learner: the learning algorithm to be trained and predicted on
      - sample_size: the size of samples (number) to be drawn from training set
      - X_train: features training set
      - y_train: income training set
      - X_test: features testing set
      - y_test: income testing set
   '''
   # Creo un diccionario para los resultados
   results = {}

   # Entre y almaceno en learner
   start = time()
   learner = learner.fit(X_train[:sample_size], y_train[:sample_size])
   end = time()

   # Tiempo de entramiento fue:
   results['train_time'] = end - start

   # Predicciones
   start = time() 
   predictions_test = learner.predict(X_test)
   predictions_train = learner.predict(X_train[:300])
   end = time()

   # El tiempo total de las prediciones fue:
   results['pred_time'] = end -start

   # A continuación calculo la metrica acurracy en una muestra de la data de entrenamiento
   results['acc_train'] = accuracy_score(y_train[:300], predictions_train)

   # Ahora en la data de prueba
   results['acc_test'] = accuracy_score(y_test, predictions_test)

   # Repito le proceso pero con la metrica F para el entrenamiento
   results['f_train'] = fbeta_score(y_train[:300], predictions_train, beta=0.5) # Al ponerle 0.5 a beta, le estamos diciendo a la metrica que tenga prioridad sobre la precision del modelo

   # ahora aplico F, para Data de prueba
   results['f_test'] = fbeta_score(y_test, predictions_test, beta=0.5)

   # Guardo el modelo
   results['model'] = learner

   # retorno los resultados
   print("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))  
   return results

In [9]:
# LLevamos a acabo la ejecución y captura de métricas para la evaluación, todo ello almacenado en results.

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

random_state = 42

clf_RL = LogisticRegression(penalty='none')
clf_RF = RandomForestClassifier(random_state=random_state)
clf_GNB = GaussianNB()
clf_SVC = SVC(random_state=random_state)

samples = len(y_train)

results = {}
for clf in [clf_RL, clf_RF, clf_GNB, clf_SVC]:
    clf_name = clf.__class__.__name__
    results[clf_name] = train_predict(clf, samples, X_train, y_train, X_test, y_test)

C:\Users\JARBOLR\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression trained on 13504 samples.
RandomForestClassifier trained on 13504 samples.
GaussianNB trained on 13504 samples.
SVC trained on 13504 samples.

In [10]:
results

{'LogisticRegression': {'train_time': 0.14390349388122559,
  'pred_time': 0.0,
  'acc_train': 0.8,
  'acc_test': 0.7778436018957346,
  'f_train': 0.49738219895287955,
  'f_test': 0.5843071786310519,
  'model': LogisticRegression(penalty='none')},
 'RandomForestClassifier': {'train_time': 1.322575569152832,
  'pred_time': 0.07680296897888184,
  'acc_train': 1.0,
  'acc_test': 0.7959123222748815,
  'f_train': 1.0,
  'f_test': 0.6345973049200877,
  'model': RandomForestClassifier(random_state=42)},
 'GaussianNB': {'train_time': 0.008301258087158203,
  'pred_time': 0.003995418548583984,
  'acc_train': 0.78,
  'acc_test': 0.7585900473933649,
  'f_train': 0.37735849056603776,
  'f_test': 0.5095412099066179,
  'model': GaussianNB()},
 'SVC': {'train_time': 4.3006651401519775,
  'pred_time': 0.5945839881896973,
  'acc_train': 0.7966666666666666,
  'acc_test': 0.7757701421800948,
  'f_train': 0.4198473282442748,
  'f_test': 0.5606829718504845,
  'model': SVC(random_state=42)}}

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

# Lo realizado a continuación busca mejorar las metricas del modelo seleccionado mediante la modificación de parámetros.
clf = RandomForestClassifier(random_state = 42)
parametros = {}
parametros["n_estimators"]=[50,100,150]
parametros["max_depth"]=[10,20,30,40,50]
parametros["min_samples_leaf"]=[2,3,4,5]
parametros["min_samples_split"]=[2,4,8,10]
# 240 modelos ejecutados

Metrica_modelo=make_scorer(fbeta_score,beta=0.5)
Validacion_modelo = GridSearchCV(estimator=clf,param_grid=parametros,scoring=Metrica_modelo)
Validacion_modelo_entrenado=Validacion_modelo.fit(X_train,y_train)
Mejores_parametros=Validacion_modelo_entrenado.best_estimator_

In [12]:
Predict_mejor_modelo=Mejores_parametros.predict(X_test)
fbeta_mejor_modelo=fbeta_score(y_test, Predict_mejor_modelo, beta=0.5)

In [13]:
# Resultado final
print(fbeta_mejor_modelo)

0.6552184061353784